<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>

<body>
    <h2>LogIn</h2>

    <form action="/login" action="post">
    <input type="text" name="name" placeholder="UserName">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">

    </form>

    <a href="/signup">Make a new account...</a>

</body>

</html>